
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>İstatistik</h3>
<br />


<div class="col-md-3 col-sm-6 col-12">
    <div class="info-box bg-info">
        <div class="info-box-content">
            <h4 class="info-box-text">Toplam Kategori Sayısı</h4>
            @if (ViewBag.ToplamKategori != null)
            {
                <h2 class="align-text-bottom">@ViewBag.ToplamKategori</h2>
            }
        </div>
    </div>

    <div class="info-box bg-info">
        <div class="info-box-content">
            <h4 class="info-box-text">İsminde A harfi olan yazar sayısı</h4>
            @if (ViewBag.YazilimKategorisi != null)
            {
                <h2 class="align-text-bottom">@ViewBag.YazilimKategorisi</h2>
            }
        </div>
    </div>



</div>