
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>To Do</h4>
<br />
<p>Başlıklarda Arama Kutucuğu</p>
<p>Yazar Görselleri düzenlenecek</p>
<p>Grafikler Eklenecek</p>
<p>Vitrin Teması eklenecek</p>
<p>Gelen Kutusunda arama </p>
<p>Yetkilendirmeler</p>
<p>Hata Sayfası Layouttan Ayrılacak</p>
<p>Sözlük ve Vitrin ayrılacak</p>
<p>Herhangi bir tablo raporlanacak</p>