@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı Adı</th>
        <th>Yetki</th>
        <th>Pasif Yap</th>
        <th>Yetkiyi Değiştir</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AdminId</td>
            <td>@item.AdminUserName</td>
            <td>@item.AdminRole</td>
            <td><a href="Authorization/InactiveRole/@item.AdminId" class="btn btn-danger">Pasif Yap</a></td>
            <td><a href="Authorization/ChageRole/@item.AdminId" class="btn btn-warning">Yetkiyi Değiştir</a></td>

        </tr>
    }

</table>
<a href="Authorization/AddAdmin" class="btn btn-primary">Yeni Admin EKle</a>