
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<br />
<p>#1  Profilim ----> ok</p>
<p>#2  Tüm Başlıklarda Sayfalama Yapılacak  ---> Ok</p>
<p>#3  Mesajlarda Session ----> ok </p>
<p>#4  Oturum Yönetiminin Mimariye Taşınması ----> ok</p>